#main{
    background-image: no-repeat;
    
}
#Guess{
    
    font-style: italic; 
    width: 400px;
    height: 200px;
    color: aquamarine;
    margin-left: 450px;
    margin-top: -600px;
    font-size: 30px;
}
#start{
    width: 120px;
    height: 50px;
    font-style: italic;
    margin-left: 140px;
    margin-top: 80px;
    margin-bottom: 900px;
    color: rgb(114, 0, 0);
    font-size: 30px;
    border-radius: 90px;
}



#con1{
   color:palevioletred;
   font-style: italic;
    width: 500px;
    height: 300px;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: -400px;
    margin-bottom: 600px;
    font-size: 30px;
}
#input{
    width:90px;
    height: 40px;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: 30px;
    border-radius: 80px;
}
#submit{
    width:100px;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
    
    font-size: large;
    border-radius: 10px;
}
#high{
    
    width: 300px;
    height: 40px;
    margin-right: 300px;
    margin-left: 200px;
    margin-bottom: 400px;
    
}


#win{
    /* border: 2px solid black; */
    margin-left: 300px;
    margin-top: -700px;
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-style: italic;
    color:black;
}

#loss{
    /* border: 2px solid black; */
    margin-left: 500px;
    margin-top: -200px;
    margin-bottom: 200px;
    width: 500px;
    height: 50px;
    font-size: 50px;
    color:white;
}
#startover{
    /* margin: 200px; */
    margin-left: 600px;
    margin-top: -100px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: blue;
    border-radius: 70px;
    font-style: italic;
}
#startover{
    /* margin: 200px; */
    margin-left: 400px;
    margin-top: -100px;
    margin-bottom: 500px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: blue;
    border-radius: 70px;
}
#lives{
    display: flex;
    justify-content: center;
}
.abc{
    margin-top: -300px;
    margin-left: 200px;
}
#ab,#win{
    font-size: 50px;
    color: black;
}