#main{
    background-image: url(assests/game.jfif);
}
#Guess{
    
    font-style: italic; 
    width: 400px;
    height: 200px;
    color: aquamarine;
    margin-left: 400px;
    margin-top: 200px;
    font-size: 30px;
}
#start{
    width: 120px;
    height: 50px;
    font-style: italic;
    margin-left: 140px;
    margin-top: 80px;
    color: rgb(114, 0, 0);
    font-size: 30px;
    border-radius: 90px;
}
#main2{
    background-image: url(assests/lives.jfif);
}

#con1{
   color:palevioletred;
   font-style: italic;
    width: 500px;
    height: 300px;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: 150px;
    margin-bottom: 600px;
    font-size: 30px;
}
#input{
    width:90px;
    height: 40px;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 30px;
    font-size: 30px;
    border-radius: 80px;
}
#submit{
    width:100px;
    height: 40px;
    margin-left: 200px;
    margin-top: 10px;
    
    font-size: large;
    border-radius: 10px;
}
#high{
    
    width: 300px;
    height: 40px;
    margin-right: 300px;
    margin-left: 200px;
    margin-bottom: 400px;
    
}
#main3{
    background-image: url(assests/win.jfif);
}

#win{
    /* border: 2px solid black; */
    margin-left: 500px;
    margin-top: 200px;
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-style: italic;
    color: aquamarine;
}
#main4{
    background-image: url(assests/lose.jfif);
}
#lose{
    /* border: 2px solid black; */
    margin-left: 1000px;
    margin-top: -200px;
    margin-bottom: 200px;
    width: 500px;
    height: 50px;
    font-size: 50px;
    color:aquamarine;
}
#startover{
    /* margin: 200px; */
    margin-left: 600px;
    margin-top: 80px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: blue;
    border-radius: 70px;
    font-style: italic;
}
#startover{
    /* margin: 200px; */
    margin-left: 600px;
    margin-top: 80px;
    margin-bottom: 500px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: blue;
    border-radius: 70px;
}